# 忽略所有日誌
*.log

# 忽略window 捷徑
*.lnk

# 忽略設定
config.json
**/config/*

# 忽略vs code檔案
.vscode/
*.code-workspace

# 忽略機密
.env

# 忽略編譯後的檔案
*.exe
**/node_modules/*
**/dist/*
**/build/*

# 備份檔
**/_bk/*
**/.bk/*
**/.backup/*

# TODO
TODO

# 參考檔
**/_ref/*
**/.ref/*

# PictrueViewer 特殊例外
last-img.png

# Discord-Werewolf 特殊例外
/root/Discord-Werewolf/_root/data/*